In [1]:
import pandas as pd
import numpy as np

In [2]:
#readfile
shark= pd.read_csv("attacks.csv")

In [3]:
#deleteduplicated rows
shark=shark.drop_duplicates()

In [4]:
#delete 40% full rows ,since 2 columns are empty total=22, keep rows with 9 non values.
shark=shark.dropna(thresh=9)

In [5]:
#check empty rows
shark.isnull().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [6]:
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
#formating column names
shark=shark.rename(columns={"Sex ":"Sex", "Fatal (Y/N)":"Fatal", "Species ":"Species","Investigator or Source":"Source","Unnamed: 22":"NA","Unnamed: 23":"NAA"})

In [8]:
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Source', 'pdf', 'href formula', 'href', 'Case Number.1',
       'Case Number.2', 'original order', 'NA', 'NAA'],
      dtype='object')

In [9]:
shark.Sex.unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [10]:
# Cleaning the Sex Column by replacing the missing & wrong values
shark["Sex"] = shark["Sex"].fillna(0)
shark["Sex"]=shark["Sex"].map({"F":"Female","M":"Male","M ":"Male","lli":"Unknown","N":"Unknown",".":"Unknown", None:"Unknown", 0:"Unknown"})
shark.Sex.unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [11]:
shark.Fatal.unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [12]:
shark["Fatal"] = shark["Fatal"].fillna("0")
shark["Fatal"]=shark["Fatal"].map({"N":"No","Y":"Yes","M ":"No","UNKNOWN":"Unknown","2017":"Unknown"," N'":"No", "N" :"No","y":"Yes"})
shark["Fatal"] = shark["Fatal"].fillna("Unknown")

In [13]:
shark.Fatal.unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [14]:
shark.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [15]:
shark["Type"] = shark["Type"].fillna(0)
shark["Type"]=shark["Type"].map({"Boating":"Boating","Unprovoked":"Unprovoked","Invalid":"Questionable", "Provoked":"Provoked", "Questionable":"Questionable",
                                 "Sea Disaster":"Sea",0:"Questionable" ,None:"Questionable","Boat":"Boating","Boatomg":"Boating"})

In [16]:
shark.Type.unique()

array(['Boating', 'Unprovoked', 'Questionable', 'Provoked', 'Sea'],
      dtype=object)

In [17]:
shark.to_csv("shark7.csv")

In [20]:
#Filling empty values of unrelevent information by Unknown
shark["Name"] = shark["Name"].fillna("Unknown")
shark["Area"] = shark["Area"].fillna("Unknown")
shark["Location"] = shark["Location"].fillna("Unknown")
shark["Injury"] = shark["Injury"].fillna("Unknown")
shark["Source"] = shark["Source"].fillna("Unknown")

In [21]:
shark.isnull().sum()

Case Number          1
Date                 0
Year                 2
Type                 0
Country             50
Area                 0
Location             0
Activity           544
Name                 0
Sex                  0
Age               2831
Injury               0
Fatal                0
Time              3354
Species           2838
Source               0
pdf                  0
href formula         1
href                 0
Case Number.1        0
Case Number.2        0
original order       0
NA                6301
NAA               6300
dtype: int64